/* Nautilus Pompilius */

@font-face {
  font-family: "NautilusPompilius";
  src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot");
  src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.woff") format("woff"),
  url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
